.userform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.userform-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.userform-input_medium {
  width: 50vw;
}

.userform-input_short {
  width: 25vw;
}
label {
  text-align: right;
  margin-right: 5px;
  display: inline-block;
  width: 80px;
}

.input_long {
  width: 40vw;
}

.input_short {
  width: 15vw;
}

.userform_row-center {
  margin: auto;
}

p {
  color: red;
}
