<form [formGroup]="form" class="userform">
  <div class="userform-row">
    <div class="userform-input_short">
      <label for="name">Legal Name</label>
      <input id="name" class="input_short" formControlName="name" />

      <div *ngIf="!name.valid && (name.dirty || name.touched)">
        <p *ngIf="name.errors?.['required']">Legal Name is Required</p>
      </div>
    </div>
    <div class="userform-input_short">
      <label for="username">username</label>
      <input name="username" class="input_short" formControlName="username" />
    </div>
    <div class="userform-input_short">
      <label for="phone">phone</label>
      <input name="phone" class="input_short" formControlName="phone" />
    </div>
  </div>
  <div class="userform-row">
    <div class="userform-input_medium">
      <div>
        <label for="website">Website</label>
        <input name="website" class="input_long" formControlName="website" />
      </div>
    </div>
    <div>
      <div class="userform-input_short">
        <label for="email">Email</label>
        <input name="email" class="input_short" formControlName="email" />
      </div>
    </div>
  </div>

  <div formGroupName="address">
    <input placeholder="street" formControlName="street" />
    <input placeholder="suite" formControlName="suite" />
    <input placeholder="city" formControlName="city" />
    <input placeholder="zipcode" formControlName="zipcode" />
    <div formGroupName="geo">
      <input placeholder="lat" formControlName="lat" />
      <input placeholder="lng" formControlName="lng" />
    </div>
  </div>
  <div class="userform_row-center">
    <button (click)="addNewUser()">Add New User</button>
  </div>
</form>
