<div class="userform">
    <div class="userform-row">
        <div class="userform-input_short">
            <label for="name">Legal Name</label>
            <input name="name" class="input_short" [formControl]="name">
            <!-- <p *ngIf="name.errors?.['required']">Legal Name is Required</p> -->

        </div>
        <div class="userform-input_short">
            <label for="age">Age</label>
            <input name="age" class="input_short" [formControl]="age">
        </div>
        <div class="userform-input_short">
            <label for="role">Role</label>
            <input name="role" class="input_short" [formControl]="role">
        </div>
    </div>
    <div class="userform-row">
        <div class="userform-input_medium">
            <div>
                <label for="address">Address</label>
                <input name="address" class="input_long" [formControl]="address">
            </div>
        </div>
        <div>
            <div class="userform-input_short">
                <label for="email">Email</label>
                <input name="email" class="input_short" [formControl]="email">
            </div>
        </div>
    </div>
    <div class="userform_row-center">
        <button (click)="addNewUser()">Add New User</button>
    </div>
</div>