<form [formGroup]="form" (ngSubmit)="onSubmit()" class="userform">
  <div class="userform-row">
    <div class="userform-input_short">
      <label for="name">Legal Name</label>
      <input id="name" class="input_short" formControlName="name" />
      <!-- <p *ngIf="name.errors?.['required']">Legal Name is Required</p> -->
    </div>
    <div class="userform-input_short">
      <label for="username">username</label>
      <input id="username" class="input_short" formControlName="username" />
    </div>
    <div>
      <div class="userform-input_short">
        <label for="email">Email</label>
        <input id="email" class="input_short" formControlName="email" />
      </div>
    </div>
    <div class="userform-input_short">
      <label for="phone">phone</label>
      <input id="phone" class="input_short" formControlName="phone" />
    </div>
  </div>
  <div formGroupName="address" class="userform-row">
    <input formControlName="street" placeholder="street" />

    <input formControlName="suite" placeholder="suite" />
    <input formControlName="city" placeholder="city" />
    <input formControlName="zipcode" placeholder="zipcode" />

    <div formGroupName="geo">
      <input formControlName="lat" placeholder="lat" />
      <input formControlName="lng" placeholder="lng" />
    </div>
  </div>

  <div class="userform_row-center">
    <button>Add New User</button>
  </div>
</form>
