<table>
  <tr>
    <th>Legal Name</th>
    <th>phone</th>
    <th>username</th>
    <th>Address</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of userList">
    <td>{{ item.name }}</td>
    <td>{{ item.phone }}</td>
    <td>{{ item.username }}</td>
    <td>{{ item.address.city }}</td>
    <td>{{ item.email }}</td>
    <td (click)="deleteRow(item.name)" class="deleteBtn">delete</td>
  </tr>
</table>
<br />
<!-- <div>The filter keyword is {{keyword ? keyword : "nothing"}}</div> -->
